.body {

  max-width: 1600px;
  min-width: 1100px;
}

.link, a {
  text-decoration: none;
}

/* header */

.page {
  min-height: 750px;
  margin-left: 64px;
}

.header {
  background-color:  #f2f2f2;
  
}

.logo {
  width: 228px;
  height: 32px;
}

.logo-place-header {
  padding-top: 30px;
}

.title {
  display: flex;
  align-content: center;
}

.h1 {
  margin: 0px;
}

.main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0%;
  z-index: 2;
}

.square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0%;
  top: 0%;
  margin-top: 64px;
  z-index: 1;
  background-color: #2f80ed;
}

.subtitle {
  position: absolute;
  bottom: 0px;
  left: 0px;
  max-width: 338px;
  margin-left: 64px;
  margin-bottom: 30px;
  z-index: 3;

}

/* Descroption */

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-colums {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.brif {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
}

.main-text {
  width: 80%; 
  min-width: 784px;
}

.main-text-output {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* digits */

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.table {
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  max-width: 1100px;
  margin: auto;
  
}

.cell {
  width: 250px;
}

.heading {
  margin-bottom: 20px;
  font-size: 1.17em;
  font-weight: bold;
}

.cell1 {
  margin-top: 60px;
}

/* feynman */

.feynman {
  background-color:  #f2f2f2;
  height: 890px;
}


.feynman-title {
  margin: auto;
  padding-top: 100px;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  width: 648px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.feynman-subtitle {
  position: relative;
  z-index: 4;
  margin: 0%;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
}

.feynman-link {
  position: absolute;
  z-index: 3;
  text-align: right;
  line-height: 51px;
  font-size: 36px;
  /* text-decoration: none; */
  right: 0px;
  top: 2100px;
}

.feynman-img {
  background-image: url(/images/feynman.png);
  width: 867px;
  height: 637px;
  position: absolute;
  top: 1905px;
  z-index: 1;
}

/* kaufman */

.kaufman {
  background-color: #1f1f1f;
  z-index: 2;

}

.kaufman-title {
  line-height: 1.15;
  font-size: 60px;
  padding-top: 90px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  z-index: 2;
  position: relative;

}

.kaufman-subtitle {
  line-height: 34px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  z-index: 2;
  position: relative;
  display: flex;
  
}

.theme-dark {
  color:rgb(255, 255, 255);
  z-index: 2;
  
}

.kaufman-cell {
  padding-bottom: 90px;
  z-index: 2;

}

.kaufman-cell-width { 
  max-width: 200px;
  z-index: 2;
}

.kaufman-cell-1 {
  display: flex;
  margin-bottom: 80px;
  z-index: 2;
}

.kaufman-cell-2 {
  display: flex;
  margin-bottom: 80px;
  z-index: 2;
}

.kaufman-flex {
  display: flex;
  justify-content: space-around;
  z-index: 2;
}

.triangle {
  background-image: url(/images/kaufman-triangle.svg); 
  width: 650px;
  height: 650px;
  margin-left: auto;
  z-index: 1;
  position: absolute;
  right: 0%;
}


/* footer */

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
}

.columns {
  width: 90%;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  /* flex-basis: 711px; */
  justify-content: space-between;
}

.content-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-place-footer {
  position: relative;
  top: 0%;
}

.abankin {
  position: relative;
  bottom: 0%;
  padding: 18px 0px 18px 0px;
}

.column-content {
  padding: 20px 0 16px 0;
}

.con

.column-right {
  display: flex;
  position: relative;
  right: 0%;
}

.social-icon {
  font-size: 10px;
}

.social-icon-img {
  height: 16px;
  width: 16px;
}

.social-text {
  font-size: 10px;
}