.body {

  max-width: 1600px;
  min-width: 1100px;
}

/* header */

.page {
  min-height: 750px;
  margin-left: 64px;
}

.header {
  background-color:  #f2f2f2;
  
}

.logo {
  width: 228px;
  height: 32px;
}

.logo-place-header {
  padding-top: 30px;
}

.title {
  display: flex;
  align-content: center;
}

.h1 {
  margin: 0px;
}

.main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0%;
  z-index: 2;
}

.square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0%;
  top: 0%;
  margin-top: 64px;
  z-index: 1;
  background-color: #2f80ed;
}

.subtitle {
  position: absolute;
  bottom: 0px;
  left: 0px;
  max-width: 338px;
  margin-left: 64px;
  margin-bottom: 30px;
  z-index: 3;

}

/* Descroption */

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-colums {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.brif {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
}

.main-text {
  width: 80%; 
  min-width: 784px;
}

.main-text-output {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* .main-text, .main-text-output {
  line-height: 34px;
  font-size: 15px;
} */

/* digits */

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  display: flex;
  justify-content: center;
  /* font-size: 60px;
  line-height: 1.15;; */
  margin: auto;
  width: 60%;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  
    /* line-height: 34px;
  font-size: 24px; */
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.table {
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  max-width: 1100px;
  margin: auto;
  
}

.cell {
  width: 250px;
}

.heading {
  margin-bottom: 20px;
  font-size: 1.17em;
  font-weight: bold;
}

.cell1 {
  margin-top: 60px;
}

/* feynman */

.feynman {
  background-color:  #f2f2f2;
  height: 890px;
}


.feynman-title {
  margin: auto;
  padding-top: 100px;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  width: 648px;
  text-align: center;
  /* display: flex;
  justify-content: center; */
}

.feynman-subtitle {
  z-index: 2;
  position: relative;
}

.feynman-link {

  z-index: 3;
}

.feynman-img {
  width: 867px;
  height: 637px;
  z-index: 1;
  /* position: absolute; */
  left: 0%;
  bottom: ;
} 

/* .feynman-title {
  line-height: 1.15;
  font-size: 60px;
  width: 648px;
  display: flex;
  justify-content: center;
  position: absolute;
} */